@import url("root.css");

/*   FOOTER  ------------------------------------------- */

footer {
  background-color: rgb(40, 39, 39);
  width: 100%;
  height: 100%;
}

.box-footer {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  margin-top: 1.5%;
}

.footer-inside {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1%;
}

.text-footer {
  list-style: none;
  text-decoration: none;
}
.text-footer li {
  margin: 10px;
}
.title {
  color: #8051d6;
  text-transform: uppercase;
}

.text-special {
  color: #ffb237;
}

.text-normal {
  color: white;
}

.footer-logo {
  fill: white;
}

.footer-social {
  display: flex;
  width: 50%;
  gap: 30px;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#social {
  fill: rgb(139, 130, 138);
}

/* ------------- UNDER FOOTER ------------*/

.footer-theme {
  display: flex;
  flex-direction: column;
  width: 1200px;
}

.box-theme {
  display: flex;
  width: 100%;
}

#language {
  background: none;
  fill: rgb(103, 88, 101);
  border: none;
  cursor: pointer;
}
.box-buy-cake {
  display: flex;
  width: 50%;
  position: absolute;
  top: 40%;
  left: 80%;
  transform: translate(0%, 0%);
}

.buy {
  fill: rgb(255, 255, 255);
}

.button-buy {
  display: flex;
  padding: 10px;
  background-color: #52e6e1;
  border-radius: 16px;
  border: 1px;
  height: 85%;
  align-items: center;
  flex-wrap: wrap;
  font-size: 15px;
}
.money {
  color: #927eba;
  font-weight: 600;
}
.button-buy a {
  font-weight: 600;
  color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline white;
}

.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 30px;
  margin-right: 10px;
  background-color: antiquewhite;
  border-radius: 40px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0px;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 20px;
  background-image: url("/media/sole.svg"), url("/media/luna.svg");
  background-repeat: no-repeat;
  background-position: 4px center, right center;
}

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(25px);
}

.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}
