@import url("root.css");

/*   FOOTER  ------------------------------------------- */

footer {
  background-color: rgb(40, 39, 39);
  width: 100%;
  height: 100%;
}

.box-footer {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  margin-top: 1.5%;
}

.footer-inside {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1%;
}

.text-footer {
  list-style: none;
  text-decoration: none;
}
.text-footer li{
   margin: 10px;
}
.title {
  color: #8051d6;
  text-transform: uppercase;
}

.text-special {
  color: #ffb237;
}

.text-normal {
  color: white;
}

.footer-logo {
  fill: white;
}

.footer-social {
  display: flex;
  width: 50%;
  gap: 30px;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#social {
  fill: rgb(139, 130, 138);
}

/* ------------- UNDER FOOTER ------------*/

.footer-theme {
  display: flex;
  flex-direction: column;
  width: 1200px;
}

.box-theme {
  display: flex;
  width: 100%;
}

#language {
  background: none;
  fill: rgb(103, 88, 101);
  border: none;
  cursor: pointer;
}
.box-buy-cake {
  display: flex;
  width: 50%;
  position: absolute;
  top: 40%;
  left: 80%;
  transform: translate(0%, 0%);
}

.buy {
  fill: rgb(255, 255, 255);
}

.button-buy {
  display: flex;
  padding: 10px;
  background-color: #52e6e1;
  border-radius: 16px;
  border: 1px;
  height: 85%;
  align-items: center;
  flex-wrap: wrap;
  font-size: 15px;
}
.money{
  color: #927eba;
  font-weight: 600;
}
.button-buy a{
  font-weight: 600;
  color: rgb(255, 255, 255);
}

a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline white;
}
