@import url("root.css");

/* BANNER */

.top-side {
  display: flex;
  background: linear-gradient(
    0deg,
    rgb(69, 42, 122) 10%,
    rgb(118, 68, 216) 90%
  );
  height: 70px;
  min-height: 70px;
  max-height: 70px;
  width: 100%;
}

.box-logo {
  display: flex;
  margin: 0 auto;
}

.logo {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

body img {
  max-width: 100%;
  width: 92px;
}

.box-text {
  display: flex;
  padding: 10px;
  background:  rgb(76, 49, 121);
  background: linear-gradient(
    0deg,
    rgb(76, 49, 121) 10%,
    rgb(73, 43, 120) 90%
  );
  border-radius: 16px;
  border: 1px;
  height: 85%;
  width: 850px;
  align-items: center;
  flex-wrap: wrap;
}

.primary-text {
  color: #f0b90b;
  margin-right: 5px;
  font-weight: 600; /* spessore*/
  line-height: 1.5; /*altezza linea testo*/
  text-transform: uppercase; /*trasforma in maiuscolo tutte le lettere*/
  font-size: 14px;
}

.secondary-text {
  color: rgb(169, 167, 172);
  margin-right: 5px;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
}

.site {
  color: white;
  margin-right: 5px;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
}

.close {
  display: flex;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  align-items: center;
  color: white;
  position: absolute;
  top: 3.5%;
  left: 97%;
  transform: translate(0%, 0%);
  font-size: 18px;
}
.close:hover{
  opacity: 0.5;
}

/*   FOOTER  ------------------------------------------- */

.footer {
  display: flex;
  background-color: rgb(40, 39, 39);
  justify-content: center;
  width: 100%;
}

.box-footer {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: auto;
}

.footer-inside {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: auto;
}

.text-footer {
  list-style: none;
  padding: auto;
  text-decoration: none;
}

.title {
  color: #7645d9;
  text-transform: uppercase;
}

.text-special {
  color: #f0b90b;
}

.text-normal {
  color: white;
}

.footer-logo {
  fill: white;
}

.footer-social {
  display: flex;
  width: 500px;
  padding: auto;
  justify-content: space-between;
}

#social {
  fill: rgb(103, 88, 101);
}
.footer-theme {
  display: flex;
  flex-direction: column;
  width: 1200px;
  padding: auto;
}

.box-theme {
  display: flex;
  width: 1200px;
  padding: auto;
}

#lingua {
  background: none;
  fill: rgb(103, 88, 101);
  border: none;
  cursor: pointer;
}
.box-buy-cake {
  display: flex;
  width: 500px;
  padding: auto;
}

.buy {
  fill: rgb(255, 255, 255);
}

.button-buy {
  display: flex;
  padding: 10px;
  background-color: #52e6e1;
  border-radius: 16px;
  border: 1px;
  height: 85%;
  align-items: center;
  flex-wrap: wrap;
}
