@import url(../root.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: #ecf6ff;
  width: 100%;
  height: 50vh;
  padding-top: 5%;
}
.elephant {
  position: relative;
  width: 78%;
  height: 26.8vh; /*FIRST OVERFLOW*/
  margin: 0 auto;
  z-index: 0;
  overflow: clip;
  overflow-y: visible;
}

.carousel {
  display: flex;
  width: 500%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

.slide {
  width: 20%;
  height: 100%;
  position: relative;
  border-radius: 30px;
  opacity: 0;
  transition: opacity 0.2s linear;
}
.slide.active {
  opacity: 1;
}
.slide1 {
  background: linear-gradient(
    114.79deg,
    rgb(132, 58, 194) 0.76%,
    rgb(69, 66, 208) 99.88%
  );
  border-radius: 30px;
  height: 100%;
  width: 100%;
  position: relative;
}
.slide2 {
  background: linear-gradient(
    114.79deg,
    rgb(150, 111, 252) -17.76%,
    rgb(114, 187, 239) 99.88%
  );
  border-radius: 30px;
  height: 100%;
  width: 100%;
}
.slide3 {
  background: linear-gradient(
    114.79deg,
    rgb(192, 64, 252) -17.76%,
    rgb(75, 60, 255) 99.88%
  );
  border-radius: 30px;
  height: 100%;
  width: 100%;
}
.slide4 {
  background: linear-gradient(
    114.79deg,
    rgb(166, 184, 252) -17.76%,
    rgb(103, 98, 205) 99.88%
  );
  border-radius: 30px;
  height: 100%;
  width: 100%;
}
.slide5 {
  background: linear-gradient(
    0deg,
    rgb(69, 42, 122) 10%,
    rgb(118, 68, 216) 90%
  );
  border-radius: 30px;
  height: 100%;
  width: 100%;
}
/* GENERAL SETTINGS */

.slide .caption {
  color: #fff;
}

#purple-webkit {
  font-weight: 900;
  background: linear-gradient(
    166.02deg,
    rgb(255, 178, 55) -5.1%,
    rgb(255, 235, 55) 75.24%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.18rem rgb(101, 50, 205);
}

/* SLIDE 1 */

.slide1 .caption {
  position: absolute;
  top: 10%;
  left: 0%;
  transform: translate(5%, 0%);
}
.slide1 .caption h2 {
  font-size: 45px;
  line-height: 1.1;
}
.slide1 .caption p {
  font-size: 25px;
  font-weight: 500;
}
#space-station {
  width: 52.7%;
  position: sticky;
  top: 0%;
  left: 48%;
  transform: translate(0.15%, 0%);
  border-radius: 30px;
}
#space-bunny {
  width: 20%;
  position: absolute;
  top: -20%;
  left: 65%;
  transform: translate(25%, 0%);
  animation: fluttua 7s ease-in-out infinite;
  z-index: 10;
}

/* SLIDE 2 */

.slide2 .caption {
  position: absolute;
  top: 10%;
  left: 0%;
  transform: translate(5%, 0%);
}
.slide2 .caption h2 {
  font-size: 40px;
  font-weight: 500;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}
.slide2 .caption p {
  font-size: 20px;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
}
#slide2-bunny {
  width: 26.9%;
  position: absolute;
  top: -18%;
  left: 65%;
  transform: translate(25%, 0%);
}

/* SLIDE 3*/

.slide3 .caption {
  position: absolute;
  top: 10%;
  left: 1%;
  transform: translate(5%, 0%);
}
.slide3 .caption h2 {
  font-size: 40px;
  font-weight: 500;
  color: #ffffff;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1),
    1px 1px 1px rgba(0, 0, 0, 0.5);
}

#baloon-bunny {
  /* coniglietto blu */
  width: 26%;
  position: absolute;
  top: -30%;
  left: 73%;
  transform: translate(25%, 0%);
  animation: fluttua 5s ease-in-out infinite;
  z-index: 1;
}
@keyframes fluttua {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-3px, 5px);
  }
  100% {
    transform: translate(0, 0);
  }
}

#coin-bottom {
  position: absolute;
  top: 57.4%;
  left: 50%;
  transform: translate(-140%, 0%);
  width: 18%;
}
#coin-top {
  position: absolute;
  top: 0%;
  left: 45%;
  transform: translate(-20%, 0%);
  width: 13%;
}

.framework-container {
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(0%, -50%);
  width: 15%;
}
.framework-container img {
  width: 82%;
}
.framework-light {
  background-image: linear-gradient(
    90deg,
    #ccc 0px,
    rgba(229, 229, 229, 0.25) 40px,
    rgba(204, 204, 204, 0.082) 80px
  );
  position: absolute;
  width: 82%;
  height: 93%;
  background-position: 100% 0;
  background-size: 300%;
  animation: fadeInOut 8s infinite ease-in-out;
  animation-play-state: running;
}
@keyframes fadeInOut {
  to {
    background-position: -100% 0;
  }
  80% {
    background-position: 100% 0;
  }
}

/* animazione compare-scompare */

#star1,
#star2 {
  opacity: 1;
  animation-name: fade-out-in;
  animation-iteration-count: infinite;
}
@keyframes fade-out-in {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
#star1 {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(65%, -30%);
  width: 4.8%;
  animation-duration: 3.5s;
}
#star2 {
  position: absolute;
  top: 70%;
  left: 58%;
  transform: translate(0%, -30%);
  width: 4.8%;
  animation-duration: 3s;
}

/* SLIDE 4 */

.slide4 .caption h2 {
  font-size: 40px;
  font-weight: 500;
  position: absolute;
  top: 40%;
  left: 2%;
  transform: translate(0%, -50%);
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1),
    1px 1px 1px rgba(0, 0, 0, 0.5);
}

#pancake-logo {
  width: 11%;
  position: absolute;
  top: 20%;
  left: 2%;
  transform: translate(0%, -50%);
}
#gm-bunny {
  width: 88%;
  position: absolute;
  top: 50%;
  left: 12%;
  transform: translate(0%, -50%);
}

/* SLIDE 5 */

.slide5 .caption {
  position: absolute;
  top: 40%;
  left: 2.5%;
  transform: translate(0%, -50%);
}
.slide5 .caption h2 {
  font-size: 40px;
  text-shadow: -1px -1px 1px #492286, 1px 1px 1px #492286, 2px 2px 2px #492286;
  margin-bottom: 20px;
}
.slide5 .caption p {
  font-weight: 500;
  font-size: 24px;
  background: linear-gradient(
    166.02deg,
    rgb(230, 155, 35) -5.1%,
    rgb(237, 216, 27) 95.24%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
#trading-bunny {
  width: 35%;
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(0%, -59%);
}

/* BUTTONS */

.head-btn {
  background-color: var(--button-color);
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 15px;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.1s ease-in-out;
  text-decoration: none;
  position: absolute;
  top: 60%;
  left: 5%;
  transform: translate(-25%, 10%);
  -webkit-box-shadow: 0px 2px 0px 0px #18a2ac, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 2px 0px 0px #18a2ac, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.head-btn2 {
  background-color: white;
  color: var(--button-color);
  padding: 10px 20px;
  border-radius: 15px;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.1s ease-in-out;
  text-decoration: none;
  position: absolute;
  top: 60%;
  left: 15%;
  transform: translate(-20%, 10%);
  -webkit-box-shadow: 0px 2px 0px 0px #c9cdce, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 2px 0px 0px #c9cdce, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.head-btn:hover,
.head-btn2:hover {
  opacity: 0.8;
  cursor: pointer;
}

.indicators {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.indicator {
  width: 25px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
.indicator.active {
  width: 24px;
  height: 8px;
  background-color: #ffffff;
  transition: all 0.2s ease-in-out;
}
.indicator:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.indicator:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.cub-arrow {
  position: relative;
  top: 4px;
  left: 5%;
  transform: translate(0%, 0%);
}

.dx-arrow {
  position: relative;
  top: 4px;
  left: 5%;
  transform: translate(0%, 0%);
}
/* MOON SECTION -------------------------------------------------- */

.moon {
  background-color: #ebf6ff;
  width: 100%;
  height: 88vh;
}
.moon #astro-bunny {
  width: 40%;
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(0%, 0%);
  animation: fluttua-b 7s ease-in-out infinite;
  z-index: 2;
}
@keyframes fluttua-b {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(10px, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.head-caption h1 {
  color: var(--second-color);
  font-size: 64px;
  font-weight: 600;
  line-height: 1.1;
}
.head-caption h3 {
  margin-top: 25px;
  color: #280d5f;
  font-weight: 600;
  line-height: 1.1;
  font-size: 20px;
}
.head-caption {
  width: 40%;
  position: absolute;
  top: 65%;
  left: 10%;
  transform: translate(0%, 0%);
  z-index: 1000;
}
.moon-btn {
  background-color: var(--button-color);
  color: #ffffff;
  padding: 12px 30px;
  border-radius: 15px;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.1s ease-in-out;
  text-decoration: none;
  -webkit-box-shadow: 0px 1px 0px 0px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 1px 0px 0px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.moon-btn2 {
  background-color: transparent;
  color: var(--button-color);
  padding: 10px 28px;
  border-radius: 15px;
  margin-left: 3px;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.1s ease-in-out;
  text-decoration: none;
  border: 2px var(--button-color) solid;
}
.head-btns {
  margin-top: 35px;
}
.moon-btn:hover,
.moon-btn2:hover {
  opacity: 0.7;
  cursor: pointer;
}
.round-background {
  width: 100%;
  position: absolute;
  top: 98%;
  left: 0%;
  transform: translate(0%, 0%);
  z-index: 1;
}
