.earn {
    height: 48.625rem;
    display: block;
    align-items: center;
    justify-content: center;
}

.earnCont {
    width: 100%;
    height: 45.625rem;
    padding: 3rem 0;
    background: linear-gradient(111deg, rgba(242,236,242,1) 0%, rgba(232,242,246,1) 100%);
}

.earnLine {
    height: 3rem;
    width: 100%;
    background: linear-gradient(to top left, #f2ecf2 50%, #ffffff 50%);
    
}

.earnContainer {
    width: 100%;
    height: 36.625rem;
    margin: 3rem auto

}

.earnTextCont {
    display: flex;
    width: 100%;
    height: 26.875rem;
    flex-direction: row-reverse;
    justify-content: center;
}

.earnTextCont > div {
    height: 26.875rem;
    width: 30.75rem;
    display: flex;
    align-items: center;
}

.earnLeftSection {
    height: 14.5rem;
    width: 26.75rem;
    margin-left: 4rem;
}

.earnLeftSection p {
    color: var(--paragraf-color);
    margin-bottom: 1.5rem;
}

.earnTitle{
    color: var(--h2-light-color);
    height: 5.5rem;
    width: 26.75rem;
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.1;
}

.earnTitle span {
    color: var(--second-color)
}

.earnButtonLink button {
    background-color: var(--button-color);
    color: var(--h2-dark-color);
    border: 0px;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: 600;
    height: 3rem;
    padding: 0 1.5rem;
    margin-right: 1rem;
    letter-spacing: 0.03em;
    -webkit-box-shadow: inset 0px -1px 0px 0px rgba(14,14,44,0.4); 
    box-shadow: inset 0px -1px 0px 0px rgba(14,14,44,0.4);
}

.earnButtonLink > a {
    color: var(--button-color);
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
}

.earnLink {
    align-items: center;
    display: inline-flex;
}

.earnLink img {
    height: 1.25rem;
    width: 1.25rem;
    margin-left: 0.25rem;
}

.earnButton:hover {
    background-color: #53dee9;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
}

.earnLink:hover {
    text-decoration: underline;
}

.earnImgCont {
    position: relative;
    
}

.earnImgCont div {
    width: 26.75rem;
    height: 26.875rem;
}

.earnImgCont div > img {
    top:0;
    left:0;    
}

.earnTop {
    z-index: 2;
    position: absolute;
    animation: imgTop 1.8s ease-in-out 0s infinite alternate both;   
}

.earnTop img {
    width: 25.90125rem;
    height: inherit;
}

.earnCenter {
    z-index: 1;
    position: absolute;
    animation: imgCenter 1.6s ease-in-out 0.5s infinite alternate both;  
}

.earnCenter img {
    height: 26.086875rem;
}

.earnBottom {
    animation: imgBottom 1.5s ease-in-out 0s infinite alternate both;
}

.earnBottom img {
    width: 26.75rem;
    height: 26.75rem;
}

@keyframes imgBottom {
	0% {
		transform: translate(0, 0) ;
	}

	100% {
		transform: translate(0.5%, 2.5%);
	}
}

@keyframes imgCenter {
	0% {
		transform: translate(0, 0) ;
	}

	100% {
		transform: translate(0.5%, 1.3%);
	}
}

@keyframes imgTop {
	0% {
		transform: translate(0, 0) ;
	}

	100% {
		transform: translate(1%, 1%);
	}
}

.poolsFarm {
    height: 8.25rem;
    width: 100%;
    margin-top: 1.5rem;
}

.topTitle {
    height: 1.75rem;
    margin-bottom: 1.5rem;
    display:flex;
}

.topTitle h2 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.1;
    color: var(--h2-light-color);
}

.topTitle h2 span {
    color: var(--second-color);
}

.topBtn {
    padding: 0.125rem;
    width: 3rem;
    fill: var(--paragraf-color);
    border: 0px;
    background-color: transparent;
    cursor: pointer;

}

.topBtn:hover {
    fill: #8f84bd;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
}

.topFarm, .topSyrup {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 2rem;
}

.topSyrup {
    display: none;
}

.topElmtsCont {
    padding-right: 1rem;
}


.squad, .usdt, .lvl, .bnb, .krs, .stake, .csix, .xcad, .hay, .moni {
    color: var(--second-color);
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 0.5rem;
    font-size: 0.75rem;
}

.elmtsValue {
    display: flex;
    gap: 0.25rem;
}

.elmtsValue div {
    color: var(--h2-light-color);
    font-weight: 600;
    line-height: 1.1;
    font-size: 1rem;

}

.apr {
    color: var(--paragraf-color);
    font-weight: 400;
    line-height: 1.5;
    font-size: 1rem;
}

.topElmts2, .topElmts3, .topElmts4, .topElmts5 {
    height: 5rem;
    padding-left: 1rem;
    border-left: 1px solid #d7caec;
}

@media screen and (max-width: 850px) {

    .earn {
        height: 42.95rem;
        width: 100%;
    }

    .earnCont {
        height: 39.95rem;
    }

    .earnContainer {
        height: 36.95rem;
        padding: 2rem 1.5rem;
        margin: 0px;
    }

    .earnTextCont {
        width: 100%;
        height: 23.2rem;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .earnLeftSection {
        display: flex;
        flex-direction: column;
        flex: 1 1 0%;
        align-self: flex-start;
        width: 100%;
        height: 9.7rem;
        margin: 0px;
    }

    .earnTitle {
        font-size: 2rem;
        font-weight: 600;
        line-height: 1.1;
        width: 100%;
        height: 2.2rem;
    }


    .earnLeftSection p {
        height: 1.5rem;
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 24px;
    }

    .earnTextCont div {
        height: 9.7rem;
        width: 100%;
    }

    .earnLink {
        height: 3rem;
    }

    .earnImgCont {
        height: 12rem;
        width: 100%;
        margin-bottom: 24px;
        flex-direction: row-reverse;
    }

    .earnImgCont div {
        width: auto;
        height: auto;
    }

    .earnImgCont div > img {
        width: 12rem;
        height: 12rem;
    }
    
    .earnCenter > img {
        width: 11.6875rem;
    }

    .poolsFarm {
        margin: 1.5rem;
        width: 100%;
        margin-left: 0px;
    }

    .topCont .topFarm {
        width: 100%;
        gap: 5px;
        display: flex;
        justify-content: center;
    }

    .topTitle {
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 1.1;
    }

    .squad, .usdt, .lvl, .bnb, .krs, .stake, .csix, .xcad, .hay, .moni {
        font-weight: 600;
        line-height: 1.5;
        margin-bottom: 0.5rem;
        font-size: 0.75rem;
    }

    .elmtsValue {
        font-weight: 600;
        line-height: 1.1;
        font-size: 1rem;
    }

    .apr {
        font-weight: 400;
        line-height: 1.5;
        font-size: 1rem;
    }

}

@media screen and (max-width: 420px) {
    .earnLine {
        height: 0px;
        width: 0px;
    }
    
    .earn {
        height: 54.65rem;
        width: 100%;
    }

    .earnCont {
        height:100%;
        padding: 3rem 0; 
        width: 100%;
    }

    .earnContainer {
        height: 29.9rem;
        padding: 1.5rem 1rem;
        margin: 0px;
        width: 100%;
    }

    .earnTextCont {
        height: 26.9rem;
        width: 100%;
    }

    .earnTextCont div {
        width: 100%;
    }


    .earnLeftSection {
        height: 13.4rem;
        width: 100%;
    }

    .earnTitle {
        height: 4.4rem;
        width: 100%;
    }

    .earnLeftSection p {
        height: 3rem;
        width: 100%;
    }

    .earnLink {
        height: 3rem;
        width: 100%;
    }

    .earnImgCont {
        height: 12rem;
        width: auto;
        margin-bottom: 24px;
        flex-direction: row-reverse;
    }

    .earnImgCont div {
        width: auto;
        height: auto;
    }

    .earnImgCont div > img {
        width: 12rem;
        height: 12rem;
    }

    .earnButtonLink {
        height: 3rem;
    }

    .poolsFarm {
        padding-top: 50px;
        width: 100%;
        height: 100%;
        margin-left: 0px;
    }

    .topTitle {
        margin-top: 1.5rem;
    }

    .topCont {
        height: 15rem;
        width: 100%;
    }

    .topFarm {
        display: flex;
        flex-wrap: wrap;
    }

    }