.trade {
    width: 100%;
    height: 35.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tradeTextCont {
    display: flex;
    width: 100%;
    height: 26.875rem;
}

.tradeTextCont > div {
    height: 100%;
    width: 30.75rem;
    display: flex;
    align-items: center;
}

.tradeLeftSection {
    height: 14.5rem;
    width: 100%;
    margin-right: 4rem;
}

.tradeLeftSection p {
    color: var(--paragraf-color);
    margin-bottom: 1.5rem;
}

.tradeTitle{
    color: var(--h2-light-color);
    height: 5.5rem;
    width: 100%;
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.1;
}

.tradeTitle span {
    color: var(--second-color)
}

.tradeButtonLink button {
    background-color: var(--button-color);
    color: var(--h2-dark-color);
    border: 0px;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: 600;
    height: 3rem;
    padding: 0 1.5rem;
    margin-right: 1rem;
    letter-spacing: 0.03em;
    -webkit-box-shadow: inset 0px -1px 0px 0px rgba(14,14,44,0.4); 
    box-shadow: inset 0px -1px 0px 0px rgba(14,14,44,0.4);
}

.tradeButtonLink > a {
    color: var(--button-color);
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
}

.tradeLink {
    align-items: center;
    display: inline-flex;
}

.tradeLink img {
    height: 1.25rem;
    width: 1.25rem;
    margin-left: 0.25rem;
}

.tradeImgCont {
    position: relative;
}

.tradeImgCont div > img{
    top:0;
    left:0;    
    width: 26.75rem;
    height: 26.75rem;
}

.top {
    z-index: 2;
    position: absolute;
    animation: imgTop 1.8s ease-in-out 0s infinite alternate both;
}

.center {
    z-index: 1;
    position: absolute;
    animation: imgCenter 1.8s ease-in-out 0.5s infinite alternate both;
}

.bottom {
    animation: imgBottom 1.8s ease-in-out 0.8s infinite alternate both;
}

@keyframes imgBottom {
	0% {
		transform: translate(0, 0) ;
	}

	100% {
		transform: translate(1%, 4%);
	}
}

@keyframes imgCenter {
	0% {
		transform: translate(0, 0) ;
	}

	100% {
		transform: translate(2%, 3%);
	}
}

@keyframes imgTop {
	0% {
		transform: translate(0, 0) ;
	}

	100% {
		transform: translate(2%, 2%);
	}
}

.tradeButton:hover {
    background-color: #53dee9;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
}

.tradeLink:hover {
    text-decoration: underline;
}

.dark-trade-background {
    background-color: #08060b;
}

.dark-trade-text {
    color: #f4eeff;
}

.dark-trade-background-line {
    background: linear-gradient(to top left, #3B3C51 50%, #08060b 50%) !important;
}

@media screen and (max-width: 850px) {
    .trade {
        height: 33.2rem;
        width: 100%;
    }

    .tradeCont {
        height: 33.2rem;
        padding: 3rem 0;
    }

    .tardeContainer {
        height: 27.2rem;
        width: 100%;
        padding: 2rem 1.5rem;
        margin: 0px;
    }

    .tradeTextCont {
        width: 100%;
        height: 23.2rem;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .tradeLeftSection {
        display: flex;
        flex-direction: column;
        flex: 1 1 0%;
        align-self: flex-start;
        width: 100%;
        height: 9.7rem;
    }

    .tradeTitle {
        font-size: 2rem;
        width: 100%;
        height: 2.2rem;
        padding-bottom: 50px;
    }

    .tradeLeftSection p {
        height: 1.5rem;
        font-size: 1rem;
        font-weight: 400;
    }

    .tradeLink {
        height: 3rem;
    }

    .tradeImgCont {
        height: 12rem;
        width: 100%;
        margin-bottom: 24px;
        flex-direction: row-reverse;
    }

    .tradeImgCont div {
        width: auto;
        height: auto;
    }

    .tradeImgCont div > img {
        width: 12rem;
        height: 12rem;
    }

}

@media screen and (max-width: 420px) {
    .trade {
        height: 34.89rem;
        width: 100%;
    }

    .tradeCont {
        height: 34.9rem;
        padding: 3rem 0; 
        width: 100%;
    }

    .tardeContainer {
        height: 100%;
        padding: 1.5rem 1rem;
        margin: 0px;
        width: 100%;
    }

    .tradeTextCont {
        height: 26.9rem;
        width: 100%;
       
    }

    .tradeTextCont div {
        width: 100%;
    }

    .tradeLeftSection {
        height: 13.4rem;
        width: 23.25rem;
    }

    .tradeTitle {
        height: 4.4rem;
        padding-bottom: 120px;
        width: 100%;
    }

    .tradeLeftSection p {
        height: 3rem;
        width: auto;
    }

    .tradeLink {
        height: 3rem;
        width: auto;
    }

    .tradeImgCont {
        height: 12rem;
        width: 12rem;
        margin-bottom: 24px;
        flex-direction: row-reverse;
    }

    .tradeImgCont div {
        width: auto;
        height: auto;
    }

    .tradeImgCont div > img {
        width: 12rem;
        height: 12rem;
    }


}