.cake {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cakeCont {
    width: 100%;
    height: 46.829rem;
    padding: 3rem 0;
    background-color: #faf9fa;
}

.cakeContainer {
    width: 100%;
    height: 34.829rem;
    margin: 3rem auto

}

.cakeTextCont {
    display: flex;
    width: 100%;
    height: 26.875rem;
    justify-content: center;
}

.cakeTextCont > div {
    height: 26.875rem;
    width: 30.75rem;
    display: flex;
    align-items: center;
}

.cakeLeftSection {
    height: 14.5rem;
    width: 26.75rem;
    margin-right: 4rem;
}

.cakeLeftSection p {
    color: var(--paragraf-color);
    margin-bottom: 1.5rem;
}

.cakeTitle{
    color: var(--h2-light-color);
    height: 5.5rem;
    width: 26.75rem;
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.1;
}

.cakeTitle span {
    color: var(--second-color)
}

.cakeButtonLink button {
    background-color: var(--button-color);
    color: var(--h2-dark-color);
    border: 0px;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: 600;
    height: 3rem;
    padding: 0 1.5rem;
    margin-right: 1rem;
    letter-spacing: 0.03em;
    -webkit-box-shadow: inset 0px -1px 0px 0px rgba(14,14,44,0.4); 
    box-shadow: inset 0px -1px 0px 0px rgba(14,14,44,0.4);
}

.cakeButtonLink > a {
    color: var(--button-color);
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
}

.cakeLink {
    align-items: center;
    display: inline-flex;
}

.cakeLink img {
    height: 1.25rem;
    width: 1.25rem;
    margin-left: 0.25rem;
}

.cakeButton:hover {
    background-color: #53dee9;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
}

.cakeLink:hover {
    text-decoration: underline;
}

.cakeImgCont {
    position: relative;
}

.cakeImgCont div {
    width: 26.75rem;
    height: 26.875rem;
}

.cakeImgCont div > img{
    top:0;
    left:0;    
}

.cakeTopLeft {
    z-index: 2;
    position: absolute;
    animation: imgTop 1.5s ease-in-out 1s infinite alternate both;
    height: 25.03rem;
    width: 25.75125rem;
}

.cakeTopLeft img {
    width: inherit;
    height: inherit;
}

.cakeTopRight {
    z-index: 2;
    position: absolute;
    animation: imgTop 1.5s ease-in-out 0s infinite alternate both;
    height: 25.03rem;
    width: 25.55375rem;
}

.cakeTopRight img {
    width: inherit;
    height: inherit;
}

.cakeCenter {
    z-index: 1;
    position: absolute;
    animation: imgCenter 1.5s ease-in-out 1s infinite alternate both;
    height: 25.03rem;
    width: 25.82625rem;
}

.cakeCenter img {
    width: inherit;
    height: inherit;
}

.cakeBottom {
    animation: imgBottom 1.5s ease-in-out 0s infinite alternate both;
    height: 25.03rem;
    width: 26.75rem;
}

.cakeBottom img {
    width: inherit;
    height: inherit;
}

.countArea {
    display: flex;
    justify-content: center;
}

@keyframes imgBottom {
	0% {
		transform: translate(0, 0) ;
	}

	100% {
		transform: translate(1%, 4%);
	}
}

@keyframes imgCenter {
	0% {
		transform: translate(0, 0) ;
	}

	100% {
		transform: translate(1%, 1.5%);
	}
}

@keyframes imgTop {
	0% {
		transform: translate(0, 0) ;
	}

	100% {
		transform: translate(2%, 2%);
	}
}


.countSection {
    display: grid;
    grid-template-areas:
        "a b c"
        "d e f";
    gap: 32px;
    grid-template-columns: repeat(3, auto);
}

.countTitle {
    color: var(--paragraf-color);
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
}

.countvalue {
    color: var(--h2-light-color);
    font-weight: 600;
    line-height: 1.1;
    font-size: 24px;
}

.a, .b, .c, .d, .e, .f {
    display: flex;
    flex-direction: column;
}

.b, .c, .e, .f {
    padding: 0px 16px;
    border-left: 1px solid #d7caec;
}

.a {
    grid-area: a;
}

.b {
    grid-area: b;
}

.c {
    grid-area: c;
}

.d {
    grid-area: d;
}

.e {
    grid-area: e;
}

.f {
    grid-area: f;
}

.dark-cake-background {
    background-color: #08060b;
}

.dark-cake-text {
    color: #fff !important;
}
    
@media screen and (max-width: 850px) {
    .cake {
        width: 100%;
        height: fit-content;
    }

    .cakeCont {
        width: 100%;
    }

    .cakeContainer{
        height: 41.65rem;
        padding: 2rem 1.5rem;
        margin: 0;
    }

    .cakeTextCont {
        width: 100%;
        height: 24.7rem;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .cakeLeftSection {
        display: flex;
        flex-direction: column;
        flex: 1 1 0%;
        align-self: flex-start;
        width: 100%;
        height: 9.7rem;
        gap: 20px;
    }

    .cakeTitle {
        font-size: 2rem;
        width: 100%;
        height: 2.2rem;
    }

    .cakeLeftSection p {
        height: 3rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        margin-bottom: 24px;
    }

    .cakeLink {
        height: 3rem;
    }

    .cakeImgCont {
        height: 12rem;
        width: 100%;
        margin-bottom: 24px;
        flex-direction: row-reverse;
    }

    .cakeImgCont div {
        width: auto;
        height: auto;
    }

    .cakeImgCont div > img {
        width: 12rem;
        height: 12rem;
    }

    .countArea {
        padding-top: 70px;
    }

    .cakeTextCont > div {
        width: 100%;
    }

    .countSection {
        gap: 16px;
        grid-template-columns: repeat(2, auto);
        grid-template-areas:
            "a d"
            "b e"
            "c f";
    }

    .b, .c {
        border-left: none;
        padding: 0px;
    }

    .d {
        border-left: 1px solid #d7caec;
        padding: 0 1rem;
    }

}

@media screen and (max-width: 420px) {
    
    .cake {
        height: 100%;
        width: 100%;
    }

    .cakeCont {
        height: 100%;
        padding: 3rem 0; 
        width: 100%;
    }

    .cakeContainer {
        height: 100%;
        padding: 1.5rem 1rem;
        margin: 0px;
        width: 100%;
    }

    .cakeTextCont {
        height: 28.4rem;
        width: 100%;
    }

    .cakeTextCont div {
        width: 100%;
    }


    .cakeLeftSection {
        height: 14.9rem;
        width: 100%;
    }

    .cakeTitle {
        height: 4.4rem;
        width: 100%;
    }

    .cakeLeftSection p {
        padding-top: 40px;
        height: 4.5rem;
        width: 100%;
    }

    .cakeLink {
        height: 3rem;
        width: auto;
    }

    .cakeImgCont {
        height: 12rem;
        width: auto;
        margin-bottom: 24px;
        flex-direction: row-reverse;
    }

    .cakeImgCont div {
        width: auto;
        height: auto;
    }

    .cakeImgCont div > img {
        width: 12rem;
        height: 12rem;
    }

    .cakeButtonLink {
        height: 3rem;
        padding-bottom: 20px;
        padding-top: 80px;
    }
    .countArea {
        margin-top: 1.5rem;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .countSection {
        padding-top: 70px;
        gap: 16px;
        grid-template-columns: repeat(2, auto);
        grid-template-areas:
            "a d"
            "b e"
            "c f";
    }

    .b, .c {
        border-left: none;
        padding: 0px;
    }

    .d {
        border-left: 1px solid #d7caec;
        padding: 0 1rem;
    }
}
