@import url("https://fonts.cdnfonts.com/css/kanit");
@import url(../root.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.up-button .arrow-top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.go-top-dark {
  fill: #000 !important;
}

.up-button {
  display: inline-flex;
  align-items: center;
  background-color: var(--button-color);
  position: fixed;
  bottom: 4rem;
  margin-left: 100%;
  right: 5%;
  border-radius: 15px;
  padding: 0.7rem;
  box-shadow: 0px 2px 0px 0px rgba(14, 14, 44, 0.4);
  z-index: 2000;
  display: none;
  outline: none;
  border: none;
}

.up-button:hover {
  cursor: pointer;
}

.up-button > svg {
  fill: white;
}

.fix-ban-nav{
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 3;
}

.security-banner {
  overflow: hidden;
  width: 100%;
  height: 70px;
  background: linear-gradient(rgb(128, 81, 214) 0%, rgb(73, 34, 134) 100%);
  transition: transform 0.3s;
}

.security-banner .security-main  {
  height: 70px;
}

.security-banner .security-main .security-center {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.security-banner .security-main .security-center .bunny-security {
  background-image: url("https://pancakeswap.finance/images/decorations/phishing-warning-bunny.webp");
  height: 120px;
  width: 90px;
  background-position: center;
  background-size: contain;
}

.navbar-mobile {
  display: none;
}

.security-hidden {
  transform: translateY(-70px);
  box-shadow: none;
}

.nav-hidden {
  transform: translateY(-126px);
  box-shadow: none;
}

nav {
  margin-top: 70px;
  font-family: "kanit", sans-serif;
  z-index: 3;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.3s;
}

.navbar-main {
  padding: 0 16px;
  height: 56px;
  width: 100%;
  display: flex;
  background-color: #ffffff;
  border-bottom: 1px solid #e7e3eb;
  gap: 19px;
}

.navbar-main .navbar-left .pancake-logo-container {
  height: 100%;
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-main .navbar-left .pancake-logo-container svg {
  height: 26px;
  width: 100%;
  display: flex;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

.navbar-main .navbar-left .pancake-logo-container:hover svg .eye {
  animation: blink 600ms steps(5, start) 2;
}

.navbar-main .navbar-mid {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.navbar-main .navbar-mid .navbar-dropdown {
  float: left;
  overflow: hidden;
}

.navbar-main .navbar-mid .navbar-dropdown .navbar-dropbtn {
  font-size: 16px;
  font-weight: 500;
  border: none;
  outline: none;
  color: #7a6eaa;
  padding: 0 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  height: 48px;
}

.navbar-main .navbar-mid .navbar-dropdown .navbar-dropbtn .three-dot {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-main .navbar-mid .navbar-dropdown .navbar-dropbtn:hover {
  background-color: #e7e3eb;
  border-radius: 20%;
  cursor: pointer;
}

.navbar-main .navbar-mid .navbar-dropdown .dropdown-dark-mode-main:hover {
  background-color: #353547 !important;
}

.navbar-main .navbar-mid .navbar-dropdown .navbar-dropdown-content {
  width: 250px;
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  border-radius: 10px;
  border: 1px solid #e7e3eb;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.navbar-main .navbar-mid .navbar-dropdown .dropdown-dark-mode {
  background-color: #27262c;
  border: #353547;
}

.navbar-main .navbar-mid .navbar-dropdown .navbar-dropdown-content a {
  float: none;
  color: #7a6eaa;
  font-family: inherit;
  font-weight: 500;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.navbar-main
  .navbar-mid
  .navbar-dropdown
  .navbar-dropdown-content
  a
  .navbar-warning {
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 16px;
  border-width: 2px;
  border-style: solid;
  border-color: #ffb237;
  margin-left: 8px;
  color: #ffb237;
}

.navbar-main
  .navbar-mid
  .navbar-dropdown
  .navbar-dropdown-content
  .with-border {
  padding: 19px;
  border-top: 1px solid #e7e3eb;
  border-bottom: 1px solid #e7e3eb;
  margin: 5px 0;
}

.navbar-main .navbar-mid .navbar-dropdown .navbar-dropdown-content .with-svg {
  display: flex;
  justify-content: space-between;
}

.navbar-main .navbar-mid .navbar-dropdown .navbar-dropdown-content a:hover {
  background-color: #e7e3eb;
  border-radius: 10px;
  cursor: pointer;
}

.navbar-main .navbar-mid .navbar-dropdown .dropdown-dark-mode a:hover {
  background-color: #353547;
}
.navbar-main .navbar-mid .navbar-dropdown:hover .navbar-dropdown-content {
  display: block;
  z-index: 1;
}

.navbar-main .navbar-right {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-weight: 500;
  color: #7a6eaa;
  gap: 7px;
}

.navbar-main .navbar-right .navbar-current-value {
  display: flex;
  gap: 10px;
}

.navbar-main .navbar-right .navbar-current-value:hover {
  cursor: pointer;
}

.navbar-main .navbar-right .nav-language-dropdown {
  float: left;
  overflow: hidden;
}

.navbar-main .navbar-right .nav-language-dropdown .language-dropbtn {
  font-size: 16px;
  font-weight: 500;
  border: none;
  outline: none;
  color: #7a6eaa;
  padding: 0 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-main .navbar-right .nav-language-dropdown .language-dropbtn:hover {
  background-color: #e7e3eb;
  border-radius: 20%;
  cursor: pointer;
}

.navbar-main .navbar-right .nav-language-dropdown .language-dropdown-content {
  width: 250px;
  display: none;
  position: absolute;
  background-color: #ffffff;
  max-width: 150px;
  max-height: 300px;
  border-radius: 10%;
  border: 1px solid #e7e3eb;
  box-shadow: 0 8px 16px 0px rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
}

.navbar-main .navbar-right .nav-language-dropdown .language-dropdown-content a {
  float: none;
  color: #7a6eaa;
  font-family: inherit;
  font-weight: 500;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.navbar-main
  .navbar-right
  .nav-language-dropdown
  .language-dropdown-content
  a:hover {
  background-color: #e7e3eb;
  border-radius: 7px;
  cursor: pointer;
}

.navbar-main
  .navbar-right
  .nav-language-dropdown:hover
  .language-dropdown-content {
  display: block;
  z-index: 1;
}

.navbar-main .navbar-right .navbar-settings .no-border-button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-main .navbar-right .nav-network {
  margin-right: 8px;
  cursor: pointer;
}

.navbar-main .navbar-right .nav-network .network-button {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px -2px 0px inset;
  border-radius: 16px;
  margin-left: 8px;
  color: #7a6eaa;
  padding-right: 8px;
}

.navbar-main .navbar-right .nav-network .network-button div {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 8px;
  overflow: hidden;
}

.navbar-main .navbar-right .nav-network .network-button div img {
  width: 32px;
}

.navbar-main .navbar-right .nav-connect .connect-btn {
  outline: none;
  border: none;
  background-color: #1fc7d4;
  box-shadow: rgba(0, 0, 0, 0.1) 0px -2px 0 inset;
  border-radius: 16px;
  width: 150px;
  height: 32px;
}

.navbar-main .navbar-right .nav-connect .connect-btn span {
  color: #ffffff;
  font-family: inherit;
  font-weight: 500;
  font-size: 17px;
}

.settings-box {
  display: none;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 1001;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.close-window {
  display: none !important;
}

.settings-box-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.settings-box .settings-content {
  display: flex;
  flex-direction: column;
  background-color: #e7e3eb;
  margin: auto;
  height: 500px;
  width: 500px;
  border-radius: 35px;
}

.settings-box .settings-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  height: 75px;
  border-bottom: 1px solid #e7e3eb;
  background: linear-gradient(111.68deg,#f2ecf2,#e8f2f6);
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}

.settings-box .settings-top .settings-title {
  font-size: 20px;
  font-weight: 500;
  color: #353547;
}

.settings-box .settings-top .close-setting .close-settings-button {
  height: 48px;
  width: 48px;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.settings-box .settings-main {
  width: 100%;
  height: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.settings-box .settings-main .settings-main-title {
  font-size: 12px;
  color: #7645d9;
  font-weight: 600;
}

.settings-box .settings-main .settings-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

 .menu-buttons .switch {
  text-align: left;
  width: 56px;
  height: 32px;
  border-radius: 60px;
  background-color: #4ed164;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.menu-buttons .switch span {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 60px;
}

 .menu-buttons .switch input {
  opacity: 0;
  position: absolute;
}

 .menu-buttons .switch span::before, .menu-buttons .switch span::after {
  content: "";
  cursor: pointer;
  position: absolute;
}

 .menu-buttons .switch input:focus ~ span {
  box-shadow: 0 0 0 4px #43b556;
}

 .menu-buttons .switch input:checked:focus ~ span {
  box-shadow: 0 0 0 4px #fff;
} 

 .menu-buttons .switch span::before {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #f1f1f1;
  border-radius: 60px;
  transition: opacity .2s ease-out .1s, transform .2s ease-out .1s;
  transform: scale(1);
  opacity: 1;
}

 .menu-buttons .switch span::after {
  top: 50%;
  z-index: 3;
  transition: transform .4s cubic-bezier(0.44, -0.12, 0.07, 1.15);
  width: 32px;
  height: 32px;
  transform: translate3d(0, -50%, 0);
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
}

 .menu-buttons .switch input:checked ~ span::before {
  transform: scale(0);
  opacity: .7s;
}

 .menu-buttons .switch input:checked ~ span::after {
  transform: translate3d(100%, -50%, 0);
}

.dark-mode {
  background-color: #27262c;
  border: #27262c;
}

.dark-mode-svg {
  fill: white;
}

.dark-mode-button-text {
  color: #ffffff !important;
  background-color: #353547 !important;
}

@media screen and (max-width: 968px) {
  .navbar-desktop {
    display: none;
  }

  .navbar-mobile {
    display: block;
    height: 56px;
    width: 100%;
  }

  .navbar-mobile-main {
    height: 100%;
    width: 100%;
    display: flex;
    padding: 0 16px;
    background-color: #ffffff;
    border-bottom: 1px solid #e7e3eb;
    gap: 19px;
    justify-content: space-between;
  }

  .navbar-mobile > .navbar-mobile-main > .navbar-mobile-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }

  .navbar-mobile > .navbar-mobile-main > .navbar-mobile-left > .navbar-mobile-logo {
    height: 100%;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar-mobile > .navbar-mobile-main > .navbar-mobile-left > .navbar-mobile-logo:hover > svg > .eye {
    animation: blink 600ms steps(5, start) 2;
  }

  .navbar-mobile > .navbar-mobile-main > .navbar-mobile-left > .navbar-mobile-logo > svg {
    width: 32px;
    height: 32px;
  }

  .navbar-mobile > .navbar-mobile-main > .navbar-mobile-left > .navbar-dropdown {
    float: left;
    overflow: hidden;
  }
  .navbar-mobile > .navbar-mobile-main > .navbar-mobile-left > .navbar-dropdown > .navbar-dropbtn {
    font-size: 16px;
    font-weight: 500;
    border: none;
    outline: none;
    color: #7a6eaa;
    padding: 0 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    height: 48px;
  }

  .navbar-mobile > .navbar-mobile-main > .navbar-mobile-left > .navbar-dropdown > .navbar-dropbtn >.three-dot {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-mobile > .navbar-mobile-main > .navbar-mobile-left > .navbar-dropdown > .navbar-dropbtn:hover {
    background-color: #e7e3eb;
    border-radius: 20%;
    cursor: pointer;
  }

  .navbar-mobile > .navbar-mobile-main > .navbar-mobile-left > .navbar-dropdown > .navbar-dropdown-content {
    width: 250px;
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    border-radius: 10px;
    border: 1px solid #e7e3eb;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }

  .navbar-mobile > .navbar-mobile-main > .navbar-mobile-left > .navbar-dropdown > .navbar-dropdown-content > a {
    float: none;
    color: #7a6eaa;
    font-family: inherit;
    font-weight: 500;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .navbar-mobile > .navbar-mobile-main > .navbar-mobile-left > .navbar-dropdown > .navbar-dropdown-content > a > .navbar-warning {
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 16px;
    border-width: 2px;
    border-style: solid;
    border-color: #ffb237;
    margin-left: 8px;
    color: #ffb237;
  }

  .navbar-mobile > .navbar-mobile-main > .navbar-mobile-left > .navbar-dropdown > .navbar-dropdown-content > .with-border {
    padding: 19px;
    border-top: 1px solid #e7e3eb;
    border-bottom: 1px solid #e7e3eb;
    margin: 5px 0;
  }

  .navbar-mobile > .navbar-mobile-main > .navbar-mobile-left > .navbar-dropdown > .navbar-dropdown-content > .with-svg {
    display: flex;
    justify-content: space-between;
  }

  .navbar-mobile > .navbar-mobile-main > .navbar-mobile-left > .navbar-dropdown > .navbar-dropdown-content > a:hover {
    background-color: #e7e3eb;
    border-radius: 10px;
    cursor: pointer;
  }

  .navbar-mobile > .navbar-mobile-main > .navbar-mobile-left > .navbar-dropdown:hover > .navbar-dropdown-content {
    display: block;
    z-index: 1;
  }

  .navbar-mobile > .navbar-mobile-main > .navbar-mobile-right {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    font-weight: 500;
    color: #7a6eaa;
    gap: 5px;
  }

  .navbar-mobile > .navbar-mobile-main > .navbar-mobile-right > .nav-language-dropdown {
    float: left;
    overflow: hidden;
  }

  .navbar-mobile > .navbar-mobile-main > .navbar-mobile-right > .nav-language-dropdown > .language-dropbtn {
    font-size: 16px;
    font-weight: 500;
    border: none;
    outline: none;
    color: #7a6eaa;
    padding: 0 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar-mobile > .navbar-mobile-main > .navbar-mobile-right > .nav-language-dropdown > .language-dropbtn:hover {
    background-color: #e7e3eb;
    border-radius: 20%;
    cursor: pointer;
  }

  .navbar-mobile > .navbar-mobile-main > .navbar-mobile-right > .nav-language-dropdown > .language-dropdown-content {
    width: 250px;
    display: none;
    position: absolute;
    background-color: #ffffff;
    max-width: 150px;
    max-height: 300px;
    border-radius: 10%;
    border: 1px solid #e7e3eb;
    box-shadow: 0 8px 16px 0px rgba(0, 0, 0, 0.2);
    overflow-y: scroll;
  }

  .navbar-mobile > .navbar-mobile-main > .navbar-mobile-right > .nav-language-dropdown > .language-dropdown-content > a {
    float: none;
    color: #7a6eaa;
    font-family: inherit;
    font-weight: 500;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
  }

  .navbar-mobile > .navbar-mobile-main > .navbar-mobile-right > .nav-language-dropdown > .language-dropdown-content > a:hover {
    background-color: #e7e3eb;
    border-radius: 7px;
    cursor: pointer;
  }

  .navbar-mobile > .navbar-mobile-main > .navbar-mobile-right > .nav-language-dropdown:hover > .language-dropdown-content {
    display: block;
    z-index: 1;
  }

  .navbar-mobile > .navbar-mobile-main > .navbar-mobile-right > .navbar-settings > .no-border-button {
    border: none;
    outline: none;
    background-color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-mobile > .navbar-mobile-main > .navbar-mobile-right > .nav-network {
    margin-right: 8px;
    cursor: pointer;
  }

  .navbar-mobile > .navbar-mobile-main > .navbar-mobile-right > .nav-network > .network-button {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px -2px 0px inset;
    border-radius: 16px;
    margin-left: 8px;
    color: #7a6eaa;
    padding-right: 8px;
  }

  .navbar-mobile > .navbar-mobile-main > .navbar-mobile-right > .nav-network > .network-button > div {
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 8px;
  }

  .navbar-mobile > .navbar-mobile-main > .navbar-mobile-right > .nav-network > .network-button > div > img {
    width: 32px;
  }

  .navbar-mobile > .navbar-mobile-main > .navbar-mobile-right > .nav-connect > .connect-btn {
    outline: none;
    border: none;
    background-color: #1fc7d4;
    box-shadow: rgba(0, 0, 0, 0.1) 0px -2px 0 inset;
    border-radius: 16px;
    width: 150px;
    height: 32px;
  }

  .navbar-mobile > .navbar-mobile-main > .navbar-mobile-right > .nav-connect > .connect-btn > span {
    color: #ffffff;
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
  }
}

@media screen and (max-width: 851px) {
  .navbar-desktop {
    display: none;
  }

  .navbar-mobile .navbar-mobile-main .navbar-mobile-left .navbar-dropdown {
    display: none;
  }

  .navbar-mobile
    .navbar-mobile-main
    .navbar-mobile-right
    .nav-connect
    .connect-btn
    span {
    visibility: hidden;
    position: relative;
  }

  .navbar-mobile
    .navbar-mobile-main
    .navbar-mobile-right
    .nav-connect
    .connect-btn
    span::after {
    visibility: visible;
    position: absolute;
    top: 3px;
    left: 0px;
    content: "Connect";
  }
  .navbar-mobile
    .navbar-mobile-main
    .navbar-mobile-right
    .nav-connect
    .connect-btn {
    width: 96px;
  }
}
