.trade {
    height: 35.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tradeTextCont {
    display: flex;
    width: 57.5rem;
    height: 26.875rem;
}

.tradeTextCont > div {
    height: 26.875rem;
    width: 30.75rem;
    display: flex;
    align-items: center;
}

.tradeLeftSection {
    height: 14.5rem;
    width: 26.75rem;
    margin-right: 4rem;
}

.tradeLeftSection p {
    color: var(--paragraf-color);
    margin-bottom: 1.5rem;
}

.tradeTitle{
    color: var(--h2-light-color);
    height: 5.5rem;
    width: 26.75rem;
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.1;
}

.tradeTitle span {
    color: var(--second-color)
}

.tradeButtonLink button {
    background-color: var(--button-color);
    color: var(--h2-dark-color);
    border: 0px;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: 600;
    height: 3rem;
    padding: 0 1.5rem;
    margin-right: 1rem;
    letter-spacing: 0.03em;
    -webkit-box-shadow: inset 0px -1px 0px 0px rgba(14,14,44,0.4); 
    box-shadow: inset 0px -1px 0px 0px rgba(14,14,44,0.4);
}

.tradeButtonLink > a {
    color: var(--button-color);
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
}

.tradeLink {
    align-items: center;
    display: inline-flex;
}

.tradeLink img {
    height: 1.25rem;
    width: 1.25rem;
    margin-left: 0.25rem;
}

.tradeImgCont {
    position: relative;
}

.tradeImgCont div > img{
    top:0;
    left:0;    
    width: 26.75rem;
    height: 26.75rem;
}

.top {
    z-index: 2;
    position: absolute;
    animation: imgTop 1.8s ease-in-out 0s infinite alternate both;
}

.center {
    z-index: 1;
    position: absolute;
    animation: imgCenter 1.8s ease-in-out 0.5s infinite alternate both;
}

.bottom {
    animation: imgBottom 1.8s ease-in-out 0.8s infinite alternate both;
}

@keyframes imgBottom {
	0% {
		transform: translate(0, 0) ;
	}

	100% {
		transform: translate(1%, 4%);
	}
}

@keyframes imgCenter {
	0% {
		transform: translate(0, 0) ;
	}

	100% {
		transform: translate(2%, 3%);
	}
}

@keyframes imgTop {
	0% {
		transform: translate(0, 0) ;
	}

	100% {
		transform: translate(2%, 2%);
	}
}

.tradeButton:hover {
    background-color: #53dee9;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
}

.tradeLink:hover {
    text-decoration: underline;
}